<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.cmu.sei.sphinxandroid"
    android:versionCode="5"
    android:versionName="1.4" >

    <uses-sdk android:minSdkVersion="14" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:icon="@drawable/sphinx_icon"
        android:label="@string/app_name"    >
        <activity
            android:name=".SphinxAndroidClientActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="edu.cmu.sei.ams.speech_rec_service.CLOUDLET_READY_START" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="PreferenceActivity"></activity>
        <activity android:name="FileBrowserActivity"></activity>
    </application>

</manifest>